.heading{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.color-box{
    padding: 24px;

}
.color-box1{
    color: azure;
    padding: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.image{
    width: 60px;
    height: auto;
   
    
}